@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee
@red:#A32500;
@black:#2B2922;
@cream:#FCFAE6;
@cream-dark:#BAB293;
@cream-darker:#A39770;

@base-background-color: #222;
@text-color: #eee;
@font-family-sans-serif:  "brandon-grotesque", "Avenir Next", "Segoe UI", sans-serif;
@font-family-monospace:   "source code pro",monospace;
@font-family-base:        @font-family-sans-serif;
@font-size-base: 14px;
@line-height-base:        1.3;
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~23px
@headings-font-family:    inherit;
@headings-font-weight:    400;
@headings-line-height:    1.1;
@headings-color:          inherit;
@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px

@font-family-sans-serif:  "brandon-grotesque", "Avenir Next", "Segoe UI", sans-serif;


body{
  font-family:@font-family-sans-serif;
  font-size:14px;
  background-color: @cream;
}
.searchBar{
  height:2rem;
  width:18rem;
  border:1px solid @gray-light;
  background-color: @cream;
  margin-top:1.6rem;
  font-size:1.1rem;
}


.navigation {
  list-style: none;
  margin: 0; 
  
  background: @red;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1.4rem;
  color: @cream;
  font-size:1.8rem;
  text-shadow:@black 2px 2px 6px;
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .searchBar{
    height:2rem;
    width:100%;
    border:none;
    outline:none;
    border-bottom:1rem solid @red;
    background-color: @cream;
    margin-top:1.6rem;
    font-size:1.1rem;
  }
}

.main{
  display:flex;
  flex-flow:row wrap;
  justify-content: space-around;
}

.cell{
  // flex:1 240px;
  flex:0 1 auto;
  height:325px;
  border:2px solid @red;
  margin:1rem;
  background-color:darken(white, 5%);
  box-shadow:0 0 0 4px lighten(@red, 2%), 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  p{
    text-align:center;
    margin-top:140px;
    font-size:1.6rem;
    font-weight:500;
    font-style:italic;
    line-height:3rem;
    min-width:255px;
    background-color:@red;
    color:darken(white, 5%);
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
  }
}